body {
  background-image: linear-gradient(to right, #1034a6, #f62d2d);
}
.reg-container {
  background-color: white;
  margin-top: 50px;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.reg-container img {
  width: 60%;
}
.user-ip {
  text-align: center;
  width: 450px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ip-submit {
  width: 450px;
  height: 40px;
  border: none;
  background-color: royalblue;
  margin-top: 30px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.ip-submit:hover {
  background-color: red;
  color: black;
}

.reg-input {
  margin-top: 50px;
}
